ul.time-stamp {
    margin: 0;
    padding: 0;
    font-size: 0;

    list-style: none;

    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-bottom-width: 1px;
    border-style: solid;
    border-color: #f1f1f1;
}

ul.time-stamp li {
    border-top-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 0;
    border-style: inherit;
    border-color: inherit;
}

ul.time-stamp data {
    display: inline-block;
    min-width: 1px;
}

ul.time-stamp data.start {
    height: 1px;
    background-color: #ED2938;
}

ul.time-stamp data.end {
    height: 1px;
    background-color: #FFE135;
}

ul.time-stamp data.margin {
    display: block;
    height: 5px;
    background-color: #FFAA1C;
}