ul.time-stamp {
    margin: 0;
    padding: 0;

    list-style: none;
    border: 1px solid #e5e5e5;
}

ul.time-stamp data {
    display: block;
}

data.start {
    background-color: #ED2938;
}

data.end {
    background-color: #FFE135;
}

data.margin {
    background-color: #28CC2D;
}