ul.time-stamp {
    margin: 0;
    padding: 0;
    font-size: 0;

    list-style: none;
}

ul.time-stamp data {
    display: inline-block;
    width: 5px;
    height: 10px;
}

data.start {
    background-color: #ED2938;
}

data.end {
    background-color: #FFE135;
}

data.margin {
    background-color: #28CC2D;
}